<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.bookclublatest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".IssueBookDetailActivity" />
        <activity android:name=".IssueBook" />
        <activity
            android:name=".HomePage.HomePageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.Login.LoginActivity" />
        <activity android:name=".Splash.SplashActivity" />
        <activity android:name=".Authentication.SignUp.SignUpActivity" />
        <activity android:name=".Authentication.Verification.VerificationActivity" />
        <activity android:name=".HomePage.RequestBook.RequestActivity" />
        <activity android:name=".Member.AddBook.AddBookActivity" />
        <activity android:name=".HomePage.BrowseBooks.BrowseActivity" />
        <activity android:name=".RequestForMember.RequestForMemberActivity" />
        <activity android:name=".Admin.RequestsForMember.RequestsForMember" />
        <activity android:name=".Member.MemberActivity" />
        <activity android:name=".Member.ConfirmIssue.ConfirmIssueActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Faq.MVP.FAQActivity" />
        <activity android:name=".ContactUs.ContactUsActivity" />
        <activity android:name=".Developers.DevelopersActivity" />
        <activity android:name=".AboutClub.AboutUsActivity" />
        <activity android:name=".Authentication.ChangePassword.ChangePasswordActivity"
            android:theme="@style/AppTheme.Dialog"/>
        <activity android:name=".Authentication.Verification.OtpActivity" />
        <activity android:name=".Admin.RequestsForMember.AdminActivity.AdminActivity" />
        <activity android:name=".Member.ConfirmIssue.ConfirmProceed.ProceedActivity" />
        <activity android:name=".Penalty.PenaltyActivity" />
        <activity android:name=".HomePage.History.HistoryActivity"/>
        <activity android:name=".HomePage.Return.ReturnActivity"/>
        <activity android:name=".Member.ConfirmReturn.ConfirmActivity"/>
        <activity android:name=".Member.ConfirmReturn.ReturnProceed.ProceedReturnActivity"/>
        <activity android:name=".Member.RequestedBooks.RequestBooksActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>